@media print,
(max-width: 479px)
{
    /*-------------------
        Global styles
    -------------------*/
    :root
    {
        --font_size_title: 28px;
    }


    .cont
    {
        padding: 0 20px;
    }


    /*----------
        Tabs
    ----------*/
    .tabs
    {
        display: block;
        overflow: auto;

        width: calc(100% + 48px);
        margin: 0 -24px 40px;
        padding: 8px;

        white-space: nowrap;

        border-radius: 0;

        scrollbar-color: transparent transparent !important;
        scrollbar-width: thin !important;
    }

    .tabs::-webkit-scrollbar
    {
        width: 0 !important;
        height: 0 !important;

        background-color: transparent !important;
    }

    .tabs::-webkit-scrollbar-thumb
    {
        background-color: transparent !important;
    }


    .tabs button
    {
        font-size: 16px;
        line-height: 22px;

        display: inline-block;

        max-width: none;
        margin: 0;
        padding: 10px 24px 12px;

        vertical-align: top;
    }



    /*---------------
        Accordion
    ---------------*/
    .accordion_item
    {
        border-radius: 10px;
    }


    .accordion_item .head
    {
        padding: 16px 72px 16px 16px;

        border-width: 8px;
    }


    .accordion_item .head .title
    {
        font-size: 16px;
        line-height: 22px;
    }


    .accordion_item .data
    {
        padding: 12px 20px 20px 24px;
    }



    /*------------
        Header
    ------------*/
    header .logo img
    {
        width: 156px;
    }
    
    header .logo span {
        display: none;
    }



    /*----------------
        Block head
    ----------------*/
    .block_head .pre_title
    {
        font-size: 17px;
        line-height: 21px;

        padding: 9px 20px 10px;
    }


    .block_head .title
    {
        line-height: 124%;
    }


    .block_head .desc,
    .block_head.center .desc
    {
        font-size: 15px;
        line-height: 23px;
    }



    /*------------------
        Form elements
    ------------------*/
    .form .input
    {
        font-size: 16px;

        height: 52px;
        padding: 0 19px;
    }


    .form .submit_btn
    {
        font-size: 16px;

        height: 52px;
    }



    /*-------------------
        First section
    -------------------*/
  




    

    /*------------
        Footer
    ------------*/
    footer .data:before
    {
        display: none;
    }


    footer .logo
    {
        width: 100%;
    }

    footer .logo img
    {
        width: 128px;
        margin-right: auto;
        margin-left: auto;
    }


    footer .slogan
    {
        width: 100%;
        margin-top: 20px;

        text-align: center;
    }


    footer .text,
    footer .email,
    footer .phone
    {
        width: 100%;

        text-align: center;
    }

    footer .text + .text
    {
        margin-top: 20px;
    }

    footer .phone
    {
        margin-top: 12px;
    }
}
