
@media print,
(max-width: 1499px)
{
    /*-------------------
        Global styles
    -------------------*/
    :root
    {
        --font_size: 16px;
        --font_size_title: 48px;
    }


    .cont
    {
        padding: 0 32px;
    }



    .key-features__badge-inner .badge
    {
        font-size: 27px;
        line-height: 31px;

        height: calc(100% - (100% - 56px)*var(--progress, 0));
    }

    .key-features--automation .badge
    {
        width: calc(100% + 12rem - (100% + 12rem - 280px)*var(--progress, 0));
    }



    /*----------
        Tabs
    ----------*/
    .tabs
    {
        margin-bottom: 72px;

        border-radius: 80px;
    }


    .tabs button
    {
        font-size: 19px;
        line-height: 23px;

        padding: 12px 26px 14px;
    }



    /*--------------
        All link
    --------------*/
    .all_link
    {
        margin-top: 60px;
    }


    .all_link a
    {
        font-size: 19px;
        line-height: 23px;

        padding: 20px 40px 22px;
    }



    /*---------------
        Accordion
    ---------------*/
    .accordion_item + .accordion_item
    {
        margin-top: 32px;
    }


    .accordion_item .head
    {
        padding: 28px 88px 28px 32px;

        border-width: 12px;
    }


    .accordion_item .head .title
    {
        font-size: 22px;
    }


    .accordion_item .head .icon
    {
        right: 24px;

        width: 15px;
        height: 24px;
    }


    .accordion_item .data
    {
        font-size: 18px;
        line-height: 160%;

        padding: 24px 32px 32px 44px;
    }



    /*------------
        Header
    ------------*/




    /*----------------
        Block head
    ----------------*/
    .block_head
    {
        margin-bottom: 56px;
    }


    .block_head .pre_title
    {
        font-size: 27px;
        line-height: 31px;
    }


    .block_head .title
    {
        line-height: 160%;
    }


    .block_head .desc,
    .block_head.center .desc
    {
        font-size: 22px;
        line-height: 160%;

        width: 1096px;
        margin-top: 8px;
    }



    /*------------------
        Form elements
    ------------------*/
    .form .input
    {
        font-size: 19px;

        height: 70px;
        padding: 0 29px;
    }


    .form .submit_btn
    {
        font-size: 19px;
        line-height: 23px;

        height: 70px;
    }



    /*-------------------
        First section
    -------------------*/
   



    /*---------
        FAQ
    ---------*/
    .faq
    {
        margin-bottom: 124px;
    }


    .faq .block_head
    {
        margin-bottom: 56px;
    }




    


    /*------------
        Footer
    ------------*/
    footer
    {
        padding: 72px 0 52px;
    }



    footer .logo
    {
        width: calc(50% - 48px);
    }

    footer .logo img
    {
        width: 200px;
    }


    footer .slogan
    {
        font-size: 20px;
        line-height: 24px;

        width: calc(50% - 48px);
    }


    footer .text
    {
        font-size: 19px;
        line-height: 25px;

        width: calc(50% - 48px);
        margin-top: 52px;
    }


    footer .email,
    footer .phone
    {
        font-size: 19px;
        line-height: 25px;

        width: calc(50% - 48px);
        margin-top: 40px;
    }


    footer .copyright
    {
        font-size: 19px;
        line-height: 25px;

        margin-top: 40px;
    }
}
